In [4]:
import numpy as np

data1 = [0,1,2,3, 0.5]
a1 = np.array(data1)
a1
# 보통 데이터의 손실을 막기 위해서 int ->  float의 형태로 변환

array([0. , 1. , 2. , 3. , 0.5])

In [8]:
data1 = [0,1,2,3]
a1 = np.array(data1)
a1
# 위와 비교

array([0, 1, 2, 3])

In [21]:
data1 = [0,1,2,'3']
a1 = np.array(data1)
a1
# 위와 비교 # string으로 변함.

array(['0', '1', '2', '3'], dtype='<U11')

In [7]:
type(a1)

numpy.ndarray

In [9]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
a2 = np.arange(0,8).reshape(4,2)

In [14]:
a2.shape

(4, 2)

In [15]:
a1.shape

(4,)

In [16]:
np.linspace(1, np.pi, 5)

array([1.        , 1.53539816, 2.07079633, 2.60619449, 3.14159265])

In [17]:
np.zeros((4,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [19]:
np.ones((4,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [22]:
a1.dtype

dtype('<U11')

In [23]:
num_a1 = a1.astype(int)
num_a1

array([0, 1, 2, 3])

In [24]:
num_a1.dtype

dtype('int32')

In [25]:
np.random.rand()
# random

0.035873792859679066

In [27]:
np.random.rand(2,4)
# 0~1 사이의 함수를 뽑는데,

array([[0.3572371 , 0.80966972, 0.79725235, 0.60334134],
       [0.95684878, 0.37607881, 0.81547655, 0.46468867]])

In [31]:
# 지정한 숫자 사이의 수를 뽑는
np.random.randint(1,10, size = (2,4))

array([[2, 9, 1, 5],
       [5, 8, 9, 1]])

# 배열의 연산

In [32]:
ar1 = np.array([10,20,30,40])
ar2 = np.array([1,2,3,4])

ar1**2

array([ 100,  400,  900, 1600], dtype=int32)

In [34]:
ar1.sum()

100

In [36]:
ar1.var()

125.0

In [38]:
ar1.cumprod()

array([    10,    200,   6000, 240000], dtype=int32)

# 배열의 인덱싱과 슬라이싱

In [40]:
a1

array(['0', '1', '2', '3'], dtype='<U11')

In [41]:
a3 = np.arange(12).reshape(3,4)

In [42]:
a3

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [43]:
a3[1,1]

5

In [44]:
a3[[0,2],[0,0]]

array([0, 8])

In [45]:
a3>5

array([[False, False, False, False],
       [False, False,  True,  True],
       [ True,  True,  True,  True]])

In [46]:
a3%3 == 1

array([[False,  True, False, False],
       [ True, False, False,  True],
       [False, False,  True, False]])

In [47]:
a3[a3%3==1]
# 일차원 어레이로 나옴 True 인 것들만.
# 해당 조건에 만족하는 것만.

array([ 1,  4,  7, 10])

In [48]:
a3[:2,1:]

array([[1, 2, 3],
       [5, 6, 7]])